
@import '../../base/base.scss';
@import "@material/icon-button/mdc-icon-button";
@import "@material/top-app-bar/mdc-top-app-bar";

@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

:host {
  display: block;
}

.mdc-drawer-app-content {
  margin-left: 0;
  margin-right: 0;
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing)+.mdc-drawer-app-content {
  margin-left: 256px;
  margin-right: 0;
}

.mdc-drawer .mdc-list-item--activated, .mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: var(--mdc-theme-secondary, #6200ee);
}

#my-mdc-drawer {
  position: fixed;
  top: 0;
}
