
@import '../base/base.css';

.res-main {
  padding: 8px;
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.top-btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #333;
  padding: 0 8px;
  & > * {
    vertical-align: middle;
  }
}

.upload-btn input[type=file] {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.file-list {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding-bottom: 10px;
}

.file-item {
  position: relative;
  width: 12.5%;

  @media (max-width: 1280px) {
    width: 25%;
  }

  .file-abs {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(50%,50%);
  }

  img {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    border: none;
    vertical-align: bottom;
    min-width: 100%;
    min-height: 100%;
  }

  &.vertical img {
    max-width: 100%;
    max-height: none;
  }

  .file-wrap {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
      0 1px 1px 0 rgba(0,0,0,.14),
      0 1px 3px 0 rgba(0,0,0,.12);

    @media (max-width: 599px) {
      margin-left: 2px;
      margin-right: 2px;
      margin-top: 4px;
    }
    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  .file-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #666;
    line-height: 26px;
    background: #fff;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    padding: 0 6px;
    text-align: center;
  }

  .file-percent {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: #4caf50;
    transition: width linear 0.2s;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    text-shadow: 1px 1px 1px #000;
  }
}

.filter {
  display: flex;
  flex-flow: row wrap;
  padding: 6px 0;
}

.filter-item {
  input, textarea, select {
    width: 120px;
    box-sizing: border-box;
    padding: 6px 8px;
    line-height: 16px;

    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
  }
}

.group-wrap {
  position: relative;
  display: none;
}
.group-box {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  z-index: 1;
  background: #fff;
  line-height: 40px;
  border: 1px solid #ddd;

  select {
    width: 200px;
    box-sizing: border-box;
    padding: 6px 8px;
    line-height: 16px;

    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
  }

  a.group-btn {
    color: #333;
    display: block;
    padding: 0 12px;
  }
}

/* 编辑分组状态 */
.grouping {
  .file-list .file-item {
    opacity: 0.3;
    &.group-selected {
      opacity: 1;
      &:after {
        content: 'check_circle';
        position: absolute;
        font-family: 'Material Icons';
        width: 24px;
        height: 24px;
        color: #6200ee;
        color: var(--theme-primary,#6200ee);
        right: 8px;
        top: 8px;
        font-size: 24px;
      }
    }
  }
  .group-wrap {
    display: block;
  }
}

pager-7.hide {
  display: none;
}
