@import '../base/base.css';

.words7 {
  padding: 24px;
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  
  @media (max-width: 599px) {
    padding: 24px 12px;
  }

  .word-item {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 0;
    a {
      display: inline-block;
      color: #666;
      &:visited {
        color: #999;
      }
    }
  }
}