{
  "presets": [
    ["@babel/preset-env",
      {
        "modules": false,
        "exclude": ["babel-plugin-transform-classes"]
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}