
@import '../base/base.css';

.content {
  padding-top: 64px;
  padding-left: 0;

  &.drawer {
    padding-left: 256px;
    
    @media (max-width: 599px) {
      padding-left: 0;
    }
  }

  @media (max-width: 599px) {
    padding-top: 56px;
  }
}

