@import "../base/common.scss";
@import "@material/image-list/mdc-image-list";
@import "@material/textfield/mdc-text-field";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";

:host {
  display: block;
}

.my-image-list {
  @include mdc-image-list-standard-columns(4, 8px);
  max-width: 960px;
  .mdc-image-list__image-aspect-container {
    padding-bottom: 66.66667%;
  }
}

.mdc-image-list--with-text-protection .mdc-image-list__supporting {
  bottom: 56px;
}

@media (max-width: 1024px) {
  .my-image-list {
    @include mdc-image-list-standard-columns(3, 8px);
  }
}

@media (max-width: 599px) {
  .my-image-list {
    @include mdc-image-list-standard-columns(2, 8px);
  }
}

.button-group {
  max-width: 960px;
  padding: 16px 0;
  & > a {
    margin-left: 20px;
  }
}

.upload-btn {
  overflow: hidden;
  input[type=file] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.percent-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: blue;
  transition: width linear 0.2s;
}

.percent-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #fff;
  line-height: 12px;
  text-shadow: 1px 1px 1px #000;
}

.update-delete {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}
.update-delete {
  @include mdc-icon-button-size(16px, 16px);
}
