
@import '../../base/base.scss';
@import "@material/layout-grid/mdc-layout-grid";

:host {
  display: block;
}

.album7 {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
