@import '../base/base.css';

:host {
  position: relative;
}

.home {

}

.card {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 1px 3px 1px;
  background-color: white;
  border-radius: 4px;
  margin: 0 4px;
}

.classes {
  margin: 8px 16px;
  display: flex;
  flex-flow: row wrap;
}

.class-item {
  padding: 12px 16px;
  line-height: 14px;
  font-size: 14px;
  color: #666;
  border-bottom: 2px solid #fff;
  &.active {
    color: #6200ee;
    color: var(--mdc-theme-primary, #6200ee);
    border-color: #6200ee;
    border-color: var(--mdc-theme-primary, #6200ee);
  }
}

.sy-list {
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
}

.sy-item {
  max-width: 100%;
  width: 50%;
  padding: 6px;
  box-sizing: border-box;
  @media (max-width: 1023px) {
    width: 100%;
  }
  @media (min-width: 1367px) {
    width: 33.3%;
  }
}

.item-spacing {
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;

  .text-area {
    flex-grow: 1;
    padding: 12px 16px;
    font-size: 14px;
    color: #666;
    min-width: 0;
    height: 86px;
    .name {
      color: #333;
    }
    .stage {
      color: #666;
      margin-left: 6px;
      font-size: 12px;
    }
    .type {
      font-size: 12px;
      color: #999;
      padding-bottom: 6px;
    }
    .progress {
      color: #666;
      font-size: 12px;
    }
    .description, .progress {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .avatar-area {
    width: 120px;
    flex-shrink: 0;
    min-height: 90px;
    background: #fff;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      vertical-align: middle;
    }
  }
}

.filter {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 16px;

  .filter-unit {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
  }

  .filter-item {
    flex: 1;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    text-align: center;
    width: 60px;
    color: #666;
    border: 1px solid #ccc;
    border-left: none;
    margin-bottom: 8px;

    &:first-child {
      border-left: 1px solid #ccc;
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }
    &:last-child {
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
    }

    &.active {
      color: #fff;
      background: rgba(0,0,0,0.7);
      border-color: rgba(0,0,0,0.1);
    }
  }
}
